.container .about-part {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 150px;
}

.container .about-part .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.container .about-part .left .title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 76px;
  color: black;
}

.container .about-part .left .desc {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 140%;
  color: black;
  margin-top: 36px;
  margin-bottom: 60px;
}

.container .about-part .left button {
  font-family: "Rubik";
  width: 300px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  border: none;
  background-color: #070148;
  padding: 20px 10px;
  border-radius: 12px;
  cursor: pointer;
}
