.container .explore-part {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 110px;
}

.container .explore-part .left .title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 150%;
  color: black;
}

.container .explore-part .right .desc {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 140%;
  color: black;
  margin-left: 37%;
  margin-top: 7%;
}
